[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "REddyProc"]
	path = REddyProc
	url = https://github.com/earthyscience/reddyproc
[submodule "solartime"]
	path = solartime
	url = https://github.com/earthyscience/solartime
